BR2_x86_64=y
BR2_TARGET_GENERIC_HOSTNAME="mlinux"
BR2_TARGET_GENERIC_ISSUE="Welcome to MLinux"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
